body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

div.base {
    background-color: #eeeeee;
}

h1,h2 {
    margin: 0px;
}

p {
    line-height: 1.5em;
}

section.bloco1 {
    background-color: orange;
}

section.bloco2 {
    background-color: green;
}

section.bloco3 {
    background-color: red;
}